* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

:root {
  --primary-white: #ffffff;
  --primary-cyan: hsl(180, 66%, 49%);
  --primary-light-cyan: hsl(180, 66%, 70%);
  --primary-violet: hsl(257, 27%, 26%);
  --secondary-red: hsl(0, 87%, 67%);
  --neutral-gray: hsl(0, 0%, 90%);
  --neutral-grayish-violet: hsl(257, 7%, 63%);
  --neutral-very-dark-blue: hsl(255, 11%, 22%);
  --neutral-very-dark-violet: hsl(260, 8%, 14%);
}

.container {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 0.875rem;
}

.button-rounded-full {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-cyan);
  padding: 12px 30px;
  border-radius: 50px;
  color: #fff;
}

.button-rounded-full:hover {
  background-color: var(--primary-light-cyan);
}

.navbar {
  display: flex;
  align-items: center;
  padding: 50px 150px;
  gap: 50px;
  font-weight: 700;
}

.navbar--mobile {
  width: 100%;
  display: flex;
  align-items: center;
}

.navbar--nav {
  display: flex;
  align-items: center;
  gap: 30px;
  width: 100%;
}


.navbar--nav a, 
.navbar--login a:first-of-type {
  color: var(--neutral-grayish-violet);
}

.navbar--nav a:hover, 
.navbar--login a:first-of-type:hover {
  color: var(--neutral-very-dark-violet);
}

.navbar--login {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 50px;
  width: 100%;
  text-align: right;
}

.hero {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.hero--image {
  background-image: url("./assets/images/illustration-working.svg");
  background-repeat: no-repeat;
  background-size: 120%;
  background-position: left center;
  width: 80%;
  height: 550px;
}

.hero--section {
  display: flex;
  flex-direction: column;
  padding-left: 150px;
}

.hero--title {
  font-size: 4.8rem;
  line-height: 5.5rem;
  letter-spacing: -1px;
  color: var(--neutral-very-dark-violet);
}

.hero--description {
  color: var(--neutral-grayish-violet);
  font-size: 1.375rem;
}

.hero--button {
  width: 200px;
  font-size: 1.2rem;
  margin-top: 40px;
  font-weight: 700;
}

.advanced {
  background-color: var(--neutral-gray);
  padding-inline: 150px;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.advanced--title {
  font-size: 2.5rem;
  line-height: 5.5rem;
  letter-spacing: -1px;
  color: var(--neutral-very-dark-violet);
  margin-top: 130px;
}

.advanced--description {
  font-size: 18px;
  color: var(--neutral-grayish-violet);
  max-width: 530px;
  text-align: center;
}

.advanced--cards {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-block: 50px;
  width: 100%;
  height: 500px;
}

.advanced--cards::before {
  content: "";
  display: flex;
  align-self: center;
  position: absolute;
  width: 50%;
  height: 8px;
  background-color: var(--primary-cyan);
}

.advanced--card {
  display: flex;
  flex-direction: column;
}

.advanced--card-image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  padding: 10px;
  border-radius: 50%;
  background-color: var(--primary-violet);
  position: absolute;
  margin-left: 30px;
  margin-bottom: 100px;
  z-index: 1;
}

.advanced--card-content {
  background-color: var(--primary-white);
  border-radius: 5px;
  padding: 80px 30px 40px 30px;
  margin-top: 40px;
  position: relative;
}

.advanced--card-title {
  font-size: 1.375rem;
  color: var(--neutral-very-dark-violet);
}

.advanced--card-desc {
  margin-top: 15px;
  color: var(--neutral-grayish-violet);
  font-weight: 700px;
  font-size: 1rem;
}

.top {
  align-self: start;
}

.middle {
  align-self: center;
}

.bottom {
  align-self: end;
}

.shorten {
  top: 95px;
  position: relative;
  display: flex;
  flex-direction: column;
  background-image: url("./assets/images/bg-shorten-desktop.svg");
  background-size: cover;
  background-color: var(--primary-violet);
  margin: 0 150px;
  padding: 60px;
  border-radius: 10px;
}

.shorten--form {
  display: flex;
  gap: 25px;
}

.shorten--input {
  width: 100%;
  border: none;
  border-radius: 5px;
  padding: 20px;
  font-size: 1.375rem;
  font-weight: 700;
  color: var(--neutral-very-dark-violet);
}

.shorten--input::placeholder {
  color: var(--neutral-grayish-violet);
  font-family: "Poppins", sans-serif;
}

.shorten--buttom {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-cyan);
  padding: 20px;
  border-radius: 5px;
  color: var(--primary-white);
  border: none;
  width: 220px;
  font-size: 1.375rem;
  font-weight: 700;
  cursor: pointer;
}

.shorten--buttom:hover {
  background-color: var(--primary-light-cyan);
}

.shorten-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
  margin-top: 120px;
}

.shorten-link--box {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 25px;
  border-radius: 10px;
  background-color: var(--primary-white);
  font-size: 1.375rem;
  gap: 20px;
}

.shorten-link--real {
  width: 100%;
  color: var(--neutral-very-dark-violet);
}

.shorten-link--shorted {
  width: 100%;
  color: var(--primary-cyan);
  text-align: right;
}

.shorten-link--button {
  font-size: 1.1rem;
  padding: 12px 20px;
  border-radius: 5px;
}

.boost {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("./assets/images/bg-boost-desktop.svg");
  background-size: cover;
  background-color: var(--primary-violet);
  padding: 50px;
  width: 100%;
}

.boost--title {
  font-size: 2.5rem;
  letter-spacing: -1px;
  color: var(--primary-white);
  text-align: center;
}

.footer {
  display: flex;
  justify-content: space-between;
  background-color: var(--neutral-very-dark-violet);
  font-size: 1rem;
  color: var(--primary-white);
  padding: 50px 150px;
  gap: 80px;
}

.footer--logo {
  display: flex;
  margin-right: 120px;
}

.footer--list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer--list li:first-of-type {
  font-weight: 700;
  margin-bottom: 10px;
}

.footer--list a, 
.footer--social a {
  color: var(--primary-white);
  font-weight: 400;
}

.footer--list a:hover, 
.footer--social a:hover {
  color: var(--primary-cyan);
}

.footer--social {
  display: flex;
  gap: 15px;
  font-size: 1.8rem;
}

@media only screen and (max-width: 1128px) {
  .footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .footer--logo {
    margin-right: 0px;
  }
}

@media only screen and (max-width: 975px) {
  .navbar {
    padding: 40px 30px;
    position: relative;
    justify-content: space-between;
  }

  .navbar--menu-icon {
    font-size: 2rem;
    color: var(--neutral-very-dark-violet);
  }

  .navbar--mobile {
    flex-direction: column;
    position: absolute;
    background-color: var(--primary-violet);
    top: 100px;
    border-radius: 10px;
    padding: 40px 30px;
    font-size: 1.2rem;
    width: 85%;
  }

  .navbar--nav {
    flex-direction: column;
    border-bottom: 0.1em solid rgba(266, 266, 266, 0.3);
    padding-bottom: 30px;
  }
  
  .navbar--login {
    margin-top: 30px;
    gap: 30px;
    text-align: center;
    flex-direction: column;
  }

  .navbar--nav a, 
  .navbar--login a:first-of-type {
    color: var(--primary-white);
  }

  .button-rounded-full {
    width: 100%;
  }

  .hero {
    flex-direction: column-reverse;
    align-items: end;
    margin-top: -50px;
  }
  
  .hero--image {
    background-size: 140%;
    background-position: left center;
    width: 95vw;
    height: 420px;
  }
  
  .hero--section {
    align-items: center;
    text-align: center;
    padding-inline: 30px;
  }
  
  .hero--title {
    font-size: 2.8rem;
    line-height: 3.5rem;
  }
  
  .hero--description {
    margin-top: 10px;
    font-size: 1.2rem;
  }
  
  .hero--button {
    width: 190px;
    font-size: 1.2rem;
    margin-top: 40px;
    font-weight: 700;
    padding-block: 15px;
  }

  .advanced {
    padding-inline: 30px;
    padding-bottom: 40px;
  }
  
  .advanced--title {
    font-size: 1.9rem;
    line-height: 3rem;
    margin-top: 100px;
  }
  
  .advanced--description {
    font-size: 18px;
    max-width: 100%;
    margin-top: 20px;
  }
  
  .advanced--cards {
    flex-direction: column;
    gap: 50px;
    margin-block: 60px;
    height: 100%; 
  }
  
  .advanced--cards::before {
    width: 10px;
    height: 80%;
  }
  
  .advanced--card {
    display: flex;
    flex-direction: column;
  }
  
  .advanced--card-image {
    margin-left: 125px;
    width: 100px;
    height: 100px;
  }
  
  .advanced--card-content {
    margin-top: 40px;
    padding: 100px 30px 50px 30px;
    text-align: center;
  }
  
  .advanced--card-title {
    font-size: 1.5rem;
  }
  
  .advanced--card-desc {
    margin-top: 20px;
    font-size: 1.05rem;
  }

  .shorten {
    background-image: url("./assets/images/bg-shorten-mobile.svg");
    background-size: 75%;
    background-position: right top;
    background-repeat: no-repeat;
    margin: 0 30px;
    padding: 30px;
    border-radius: 10px;
  }
  
  .shorten--form {
    flex-direction: column;
  }
  
  .shorten--input {
    padding: 15px;
    font-size: 1.1rem;
    font-weight: 700;
  }

  .shorten--input::placeholder {
    font-size: 1.1rem;
  }

  
  .shorten--buttom {
    padding: 15px;
    width: 100%;
    font-size: 1.3rem;
  }
  
  .shorten-link {
    gap: 30px;
    margin-top: 130px;
  }
  
  .shorten-link--box {
    font-size: 1.2rem;
    flex-direction: column;
    align-items: start;
    padding: 0;
    border-radius: 5px;
  }
  
  .shorten-link--real {
    border-bottom: 1px solid var(--neutral-gray);
    padding: 10px 15px;
  }
  
  .shorten-link--shorted {
    text-align: left;
    padding: 0 15px;
  }
  
  .shorten-link--box-buttom {
    width: 100%;
    padding: 0 15px 15px 15px;
  }

  .shorten-link--button {
    padding: 10px;
    font-size: 1.1rem;
  }

  .boost {
    padding: 120px 40px;
    background-image: url("./assets/images/bg-boost-mobile.svg");
  }
  
  .boost--title {
    font-size: 1.8rem;
    line-height: 0;
  }
}
